@model DogModel

@{
    ViewData["Title"] = "Edytuj informacje o psie";
}

<div class="row">
    <div class="col-md-8">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control"/>
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control"/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control"/>
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="submit" value="Edytuj" class="btn btn-success btn-block"/>
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-primary btn-block">Strona główna</a>
                </div>
            </div>
        </form>
    </div>
</div>